@page
@model MyApp.Namespace.contactoModel
@{

}

    <h1 class="display-4">Contacto  pagina de contacto</h1>
   
  @{

    string time = DateTime.Now.ToString("tt");
    string name = "jose";
    if (time == "p. m."){
        <h2> Buenas Tardes @name </h2>
    }
    else{
        <h2> Buenos Dias @name </h2>
    } 
  } 
   